header {
  background: white;
  padding: 2em;
  position: relative;
  border-radius: 95px;
}

.logo {
width: 18em;
height: 14em;
padding-left: 2em;
position: relative;
}


nav li {
  display: inline;
 margin: 2em 0 0 2em;
  font-size: 3em;
}

nav a:hover {
  color: #008000;
  text-decoration: underline;
}

nav a {
  text-transform: uppercase;
  color: #90EE90;
  font-weight: bold;

}

nav {
  position: absolute;
  top: 5em;
  right: 0em;
}
