.slider1{

  width: 100%;
  height: 3%;
  overflow: hidden;

}
.slides1{
  width: 400%;
  height: 500px;
  display: flex;
}

.slide1 {
  width: 25%;
  position: relative;
}

.slides1 input{
  display: none;
}

.slide1 img {
  radius: 1em;
  width: 19em;
  margin-top: 0em;
  border-radius: 1em;
  height: 12em;
  border-color: #90EE90;
  border-width: 1em;
  border-style: solid;
  overflow: hidden;
  margin-right: -10em;
}

.manual-navigation1{
  position: absolute;
  width: 20em;
  margin-top: -18.2em;
  display: flex;
  justify-content: center;
}

.manual-btn1 {
  border: 0.17em solid #000000;
  padding: 0.3em;
  border-radius: 0.5em;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto1{
  position: absolute;
  width: 20em;
  margin-top: 13.0em;
  display: flex;
  justify-content: center;
}

.manual-btn1:not(:last-child){
  margin-right: 2.5em;
}
.manual-btn1:hover{
  background-color: white;
}
#radio4:checked ~ .first{
  margin-left: 0;
}
#radio5:checked ~ .first{
  margin-left: -25%;
}
#radio6:checked ~ .first{
  margin-left: -50%;
}

.navigation-auto1 div:not(:last-child){
  margin-right: 2.5em;
}
#radio4:checked ~ .navigation-auto1 .auto-btn1 {
  background-color: #20a6ff;
}
#radio5:checked ~ .navigation-auto1 .auto-btn2 {
  background-color: #20a6ff;
}
#radio6:checked ~ .navigation-auto1 .auto-btn3 {
  background-color: #20a6ff;
}
.navigation-auto1 div{
  border: 0.17em solid #20a6ff;
  padding: 0.3em;
  border-radius: 0.5em;
  cursor: pointer;
  transition: 1s;
}
